.border-pane {
    -fx-background-color: #e3e4e6;
}

.naslov-aplikacije {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-fill: #000000;
}

.naslov-pogleda {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-fill: #000000;
}

.podnaslov {
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-fill: #000000;
}

.tekst {
    -fx-font-size: 14px;
    -fx-fill: #000000;
}

/* ========== RAZMACI ========== */
.razmak-mali {
    -fx-spacing: 10px;
}

.razmak-srednji {
    -fx-spacing: 20px;
}

.razmak-veliki {
    -fx-spacing: 30px;
}

/* Specifični razmaci */
.razmak-kontrole {
    -fx-spacing: 15px;
}

.razmak-forma {
    -fx-spacing: 15px;
    -fx-vgap: 15px;
    -fx-hgap: 10px;
}

.razmak-tablice {
    -fx-spacing: 10px;
}

.razmak-gumbi {
    -fx-spacing: 10px;
}

.razmak-radio {
    -fx-spacing: 15px;
}

.razmak-akcije {
    -fx-spacing: 10px;
}

.razmak-unos {
    -fx-spacing: 10px;
}

.razmak-kolone {
    -fx-hgap: 10px;
}

.razmak-tablica-kontejner {
    -fx-spacing: 5px;
}

.razmak-jezici {
    -fx-spacing: 5px;
}

/* ========== PADDING ========== */
.padding-mali {
    -fx-padding: 10px;
}

.padding-srednji {
    -fx-padding: 20px;
}

.padding-veliki {
    -fx-padding: 40px;
}

/* ========== POZICIONIRANJE ========== */
.sredina {
    -fx-alignment: center;
}

.sredina-lijevo {
    -fx-alignment: center-left;
}

.sredina-desno {
    -fx-alignment: center-right;
}

.vrh-sredina {
    -fx-alignment: top-center;
}

.vrh-lijevo {
    -fx-alignment: top-left;
}

/* ========== TRAKE S FIKSNOM VISINOM ========== */
.trake-kontejner{
    -fx-min-height: 100px;
    -fx-pref-height: 100px;
    -fx-max-height: 100px;
}

.gornja-traka {
    -fx-alignment: center-left;
    -fx-padding: 15px 20px 15px 20px;
    -fx-spacing: 20px;
    -fx-background-color: #ffffff;
    -fx-border-color: #dee2e6;
    -fx-border-width: 0 0 0 0;
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
}

.info-traka {
    -fx-alignment: center-left;
    -fx-padding: 8px 20px 8px 20px;
    -fx-spacing: 10px;
    -fx-background-color: #ffffff;
    -fx-border-color: #dee2e6;
    -fx-border-width: 0 0 0 0;
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
}

.info-traka-sakrivena {
    -fx-min-height: 50px;
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
}

.info-traka-sakrivena .info-traka {
    -fx-opacity: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.jezici {
    -fx-spacing: 5px;
    -fx-alignment: center-right;
}

